
body{
    background-color:rgba(221, 197, 197, 0.288)
    }
    
     h1{
    color:rgb(0, 0, 0) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    background:rgb(255, 255, 255) ;
    }

    :
    
    p{
    color:rgb(255, 255, 255) ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20 px;
    text-align: center;
    background:rgb(0, 0, 0)0) ;
    }