
body{
    background-color:rgb(35, 250, 7)
    }
    
     h1{
    color:rgb(19, 19, 31) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background:dimgray ;
    }
    
    :
    p{
    color:silver ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: ;
    background:rgb(0, 0, 0) ;
    }